* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* global content */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  color: #005bbb;
  padding-bottom: 10px;
  max-width: 100%;
}


body {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  background-color: white;
}


/* header content */
header {
  background-color: #005bbb;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0px 20px 0px 20px;
}

#github-link {
  height: 100px;
}


/* main body content */
.content {
  max-width: 1200px;
  margin-inline: auto;
}

.content-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

/* text block content */
.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px 20px 20px;
  max-width: 800px;
}

/* row-colums content */
.row-columns-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.subject-column {
  flex: 1;
  padding: 0 20px 0px 20px;
  max-width: 400px;
}

.subject-column h2 {
  text-align: center;
  padding-top: 10px;
}

.subject-column ul {
  padding-top: 10px;
  padding-left: 10px;
  border-top: 3px solid #005bbb;
}

.subject-column a {
  color: #005bbb;
}



/* spacer contetn */
.spacer {
  min-height: 100px;
}


/* footer content */
footer {
  background-color: rgb(69, 68, 68);
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: space-between;
  color: white;
}

.footer-left{
  display: flex;
  align-items: center;
}

.footer-left li {
  list-style-type: none;
  padding-left: 20px;
}

.footer-right li {
  list-style-type: none;
  padding-right: 20px;
}



/* adaptive dispaly  */
@media screen and (max-width: 650px) {
  
  .row-columns-block {
    flex-direction: column;
  }

  .subject-column {
    min-width: 100%;
  }

}
